.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #ff5151;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

form {
  display: inline-block;
  text-align: left;
  background-color: #ff8b8b;
  padding: 20px;
  border-radius: 5px;
}

label,
input,
button {
  display: block;
  margin-bottom: 20px;
}

footer {
  background-color: #ff5151;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
