/*Create two columns*/
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    text-align: center;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    text-align: center;

  }

  


  h3.thick {
    font-weight: bold;
  }

  h1.thick{
    font-weight: bolder;
  }
  


  
  /*btton*/
  .button {
    background-color: #af4c59; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button {border-radius: 12px;}