@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 720px !important;
  margin: 0;
  /* background-color: #f8f9fa; */
  background-color: rgba(245, 245, 245, 0.014) !important;
}

/* Nav Bar styling */

.logo {
  width: 90px;
  height: auto;
  margin-left: auto;
}

.container {
  justify-content: space-between;
}

.navlink {
  font-size: 10%;
}

/*  Result Page  */
.Result_page h4 {
  color: rgb(0, 0, 0);
  margin: 16px;
  font-size: 24px;
}
.Result_page .total-comment-count {
  font-size: 20px;
  color: rgb(158, 0, 0);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #ffffff8f;
}
.Result_page .chart-title {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.459);
  text-align: center;
  margin: 10px;
  padding: 4px;
  border-radius: 6px;
}
.Result_page .feedback-box {
  color: rgb(255, 255, 255);
  background: #ff000071;
  padding: 20px;
  border-radius: 10px;
}

.Result_page .feedback-box-new {
  color: rgb(255, 255, 255);
  background: #ff0000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  animation: glowing 2s infinite;
  background-image: linear-gradient(to bottom right, #ff0000, #ff4500);
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  }
}

.Result_page h6 {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  padding: 6px;
  margin-top: 4px;
}
.Result_page h5 {
  color: white;
  background-color: rgb(255, 0, 0);
  text-align: center;
  margin-bottom: 18px;
  padding: 4px;
  border-radius: 6px;
}
.perbutton:hover {
  background-color: rgb(160, 0, 0) !important;
  transition: "background-color 0.1s ease-in-out" !important;
}

/*  Per Comment Results */
.Per_Comment_Results {
  border-radius: 10px;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.page-title h2,
.Per_Comment_Results h2 {
  margin: 16px;
  color: #ff0000;
  text-align: center;
}

.table-wrapper {
  display: flex;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-wrapper .title-column {
  background-color: #ff4a4a;
}
.comment-column {
  height: auto;
  width: 70%;
}

thead tr {
  background-color: #ff0000;
  color: white;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #ffecec;
}

tr:hover {
  background-color: #ffd6d6;
}

/* Try It Out*/

.drp_menus {
  white-space: nowrap;
}

.try-button-hover:hover {
  background-color: rgba(201, 3, 3, 0.776) !important;
  transition: "background-color 0.1s ease-in-out" !important;
}

.try-button-hover:disabled {
  padding-top: 12px !important;
}

/*   Contact  */

.contact-container {
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 500px;
}

.contact-container .logo {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.contact-container a:hover {
  text-decoration: none;
  color: #fff0dc;
  font-size: 20px;
}
.faq-button-hover:hover {
  background-color: rgb(60, 55, 55) !important;
  transition: "background-color 0.1s ease-in-out" !important;
}

/*  FAQ page  */
.faq-page .faq-box {
  /* background-color: #f6bdbd; */
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 10px 10px;
  margin: 20px;
}
.faq-page .faq-box h6 {
  font-size: 20px;
}
.faq-page .page-title h2 {
  color: black;
}
.faq-page .faq-box .two:disabled {
  color: red;
  display: none;
}
.faq-page .faq-box .two {
  color: rgb(255, 0, 0);
  display: ruby;
}

/*new css meet the team*/

.meettheteammain {
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  align-content: center;
  background-color: #ffffff9c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.meettheteammain h1 {
  padding-top: 20px;
  color: red;
}

.card-group {
  margin-bottom: 120px;
}
.card-img-top:hover {
  transform: none;
}

.card-group:hover {
  transform: none;
}

.card {
  height: 100%;
  transition: all 0.3s;
  margin: 1%;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.6s;
}

.card-group {
  flex-wrap: wrap;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-name {
  color: black;
}

.linkedin-button svg {
  fill: blue !important;
}

/* End of the meettheteam css */

/*  Chrome Page  */
.chrome-page h2,
h3 {
  margin: 16px;
  color: #b43535;
  text-align: center;
}
.chrome-page h5 {
  text-decoration: bold;
  color: red;
  margin-top: 20px;
}
.chrome-page .chrome-list {
  background-color: #ffecec;
  padding: 10px;
  width: 80%;
  margin: 80px;
}

/*  Footer  */
.main_footer {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
}

.main_footer h4 {
  font-size: 20px;
  color: #ff0000;
  margin-top: 40px;
  margin-left: 30px;
}

.main_footer .list_unstyled {
  color: #ff0000;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.main_footer .link-name {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

/* targeted for mobile devices - 800px */

@media (max-width: 800px) {
  /*  CONTACT page*/

  .contact-container {
    min-width: 200px;
  }
  .contact-container a {
    font-size: 14px;
  }

  /*  RESULTS page */

  .Result_page .tototal-comment-counttal {
    font-size: 20px;
  }

  .table-wrapper {
    display: flex;
    height: 600px;
    overflow-y: scroll;
    overflow-x: scroll;
  }
}

/* targeted for mobile devices - 400px */

@media (max-width: 500px) {
  /* RESULT page */
  .Result_page .total-comment-count {
    font-size: 14px;
  }
  .Result_page .perbutton {
    font-size: 10px;
  }

  .perbutton {
    font-size: 16px;
  }

  /*  Chrome Page  */

  .chrome-page .chrome-list {
    font-size: 14px;
    margin: 40px;
  }

  .contact-page {
    color: red;
  }
}

/*  Terms Of Service  */
.term-page h1 {
  margin-bottom: 14px;
  color: #ff0000;
  text-align: center;
}
.term-page h3 {
  text-align: left;
  color: rgb(59, 4, 4);
  font-size: 20px;
}
.term-page p {
  margin-bottom: 10px;
}

.TOS {
  padding-bottom: 10px;
}

.TOS_div {
  background-color: rgba(245, 245, 245, 0.808);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2.5%;
}

/* YouTube iFrame */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
