* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo {
  width: 60px;
  height: auto;;
  padding-top: 5%;
  padding-left: 5%;
}

.nav {
  background-color: rgb(59, 57, 57);
  color: rgb(234, 69, 69);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block-start: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.teambcg{
  background-color: rgb(249, 138, 113);
  text-align: center;
}